<div class="dropdown-wrapper">
  @if(label){
  <span class="dropdown-label">
    {{ label }}
  </span>
  }
  <div class="dropdown-container" [class.disabled]="isDisabled">
    <div
      class="dropdown-display"
      (click)="toggleDropdown()"
      [class.open]="isOpen"
      [attr.aria-expanded]="isOpen"
    >
      <div class="display-content">
        @if (selectedOptions.length > 0 && selectedTpl) {
        <ng-container
          *ngTemplateOutlet="
            selectedTpl;
            context: { $implicit: selectedOptions }
          "
        ></ng-container>
        } @else {
        <span [class.placeholder]="selectedOptions.length === 0">
          {{ displayValue }}
        </span>
        }
      </div>

      <div class="dropdown-actions">
        @if (clearable && selectedOptions.length > 0) {
        <button
          class="clear-btn"
          (click)="clearSelection($event)"
          aria-label="Limpar seleção"
        >
          &times;
        </button>
        }
        <span class="caret" [class.open]="isOpen"></span>
      </div>
    </div>

    @if (isOpen) {
    <div class="dropdown-menu">
      @if (searchable) {
      <div class="searchable-container">
        <app-icon [name]="'search'" [size]="'sm'"></app-icon>
        <input
          #searchInput
          type="text"
          class="search-input"
          [(ngModel)]="searchText"
          (ngModelChange)="filterOptions()"
          placeholder="Pesquisar..."
          aria-label="Filtrar opções"
        />
      </div>
      }

      <ul
        class="options-list"
        role="listbox"
        [attr.aria-multiselectable]="multiSelect"
      >
        @for (option of filteredOptions; track option.value) {
        <li
          class="option-item"
          [class.selected]="isSelected(option)"
          [class.multi]="multiSelect"
          (click)="selectOption(option)"
          role="option"
          [attr.aria-selected]="isSelected(option)"
          tabindex="0"
        >
          @if (optionTpl) {
          <ng-container
            *ngTemplateOutlet="optionTpl; context: { $implicit: option }"
          ></ng-container>
          } @else {
          <span>{{ option.label }}</span>
          } @if (multiSelect) {
          <app-checkbox [checked]="isSelected(option)"></app-checkbox>
          }
        </li>
        } @empty {
        <li class="no-options">Nenhuma opção encontrada</li>
        }
      </ul>
    </div>
    }
  </div>
</div>
