//Primary
$primary-50: #cce0ff;
$primary-100: #b3d1fe;
$primary-200: #74abfe;
$primary-300: #4e94fe;
$primary-400: #287dfd;
$primary-500: #0266fd;
$primary-600: #024dbe;
$primary-700: #01388b;
$primary-800: #012965;
$primary-900: #001433;

//Secondary
$secondary-50: #ddd7ec;
$secondary-100: #c3b9dd;
$secondary-200: #a092ca;
$secondary-300: #8774bc;
$secondary-400: #6d56ad;
$secondary-500: #5c42a4;
$secondary-600: #4b328f;
$secondary-700: #3e2a77;
$secondary-800: #2e1f57;
$secondary-900: #191130;

//Neutral
$neutral-50: #d0d4d8;
$neutral-100: #b5bbc2;
$neutral-200: #8b959f;
$neutral-300: #6b7885;
$neutral-400: #566573;
$neutral-500: #415162;
$neutral-600: #2c3e50;
$neutral-700: #212f3c;
$neutral-800: #1a2530;
$neutral-900: #121920;

//Gray
$gray-50: #dce0e3;
$gray-100: #cdd3d7;
$gray-200: #b8c1c7;
$gray-300: #a3aeb6;
$gray-400: #909da7;
$gray-500: #71828e;
$gray-600: #57656f;
$gray-700: #3e484f;
$gray-800: #2d3439;
$gray-900: #1c2124;

//Green/Success
$green-50: #d1e6dc;
$green-100: #a3cfbb;
$green-200: #81bda1;
$green-300: #5eab87;
$green-400: #3c996e;
$green-500: #188050;
$green-600: #157347;
$green-700: #115a38;
$green-800: #0d442a;
$green-900: #062215;

//Red/Danger
$red-50: #f4ccd0;
$red-100: #ee9aa2;
$red-200: #e87c86;
$red-300: #e56874;
$red-400: #e15361;
$red-500: #d13242;
$red-600: #b02a37;
$red-700: #8f222d;
$red-800: #6e1b23;
$red-900: #421015;

//Orange/warning
$orange-50: #fbddc4;
$orange-100: #fec595;
$orange-200: #feb272;
$orange-300: #fe9e4f;
$orange-400: #fd9137;
$orange-500: #f07813;
$orange-600: #ca6510;
$orange-700: #b1580e;
$orange-800: #8b450b;
$orange-900: #653208;

//Teal/Info
$teal-50: #cce4e4;
$teal-100: #99cccc;
$teal-200: #73b9b9;
$teal-300: #4da6a6;
$teal-400: #269393;
$teal-500: #007a7a;
$teal-600: #006060;
$teal-700: #004d4d;
$teal-800: #003a3a;
$teal-900: #002626;

// White
$white-900: #ffffff;
$white-800: #fefefe;
$white-700: #fdfdfd;
$white-600: #fcfcfc;
$white-500: #fbfbfb;
$white-400: #fafafa;
$white-300: #f9f9f9;
$white-200: #f8f8f8;
$white-100: #f7f7f7;
$white-50: #f6f6f6;

// Black
$black-900: #000000;
$black-800: #191919;
$black-700: #313131;
$black-600: #4a4a4a;
$black-500: #626262;
$black-400: #7a7a7a;
$black-300: #939393;
$black-200: #acacac;
$black-100: #c4c4c4;
$black-50: #dddddd;

// White
$white-0: rgba($white-900, 0); // 0% opacidade (totalmente transparente)
$white-10: rgba($white-900, 0.1); // 10% opacidade
$white-20: rgba($white-900, 0.2); // 20% opacidade
$white-30: rgba($white-900, 0.3); // 30% opacidade
$white-40: rgba($white-900, 0.4); // 40% opacidade
$white-50: rgba($white-900, 0.5); // 50% opacidade
$white-60: rgba($white-900, 0.6); // 60% opacidade
$white-70: rgba($white-900, 0.7); // 70% opacidade
$white-80: rgba($white-900, 0.8); // 80% opacidade
$white-90: rgba($white-900, 0.9); // 90% opacidade

// Black
$black-0: rgba($black-900, 0); // 0% opacidade
$black-10: rgba($black-900, 0.1); // 10% opacidade
$black-20: rgba($black-900, 0.2); // 20% opacidade
$black-30: rgba($black-900, 0.3); // 30% opacidade
$black-40: rgba($black-900, 0.4); // 40% opacidade
$black-50: rgba($black-900, 0.5); // 50% opacidade
$black-60: rgba($black-900, 0.6); // 60% opacidade
$black-70: rgba($black-900, 0.7); // 70% opacidade
$black-80: rgba($black-900, 0.8); // 80% opacidade
$black-90: rgba($black-900, 0.9); // 90% opacidade
